.md-typeset h1 {
    color: #f38ba8;
    font-weight: bold;
}

.md-typeset h2 {
    color: #87b0f9;
    font-weight: bold;
}

.md-typeset h3 {
    color: #a6e3a1;
    font-weight: bold;
}

.md-typeset h4 {
    color: #94e2d5;
    font-weight: bold;
}

:root {
    --md-primary-fg-color: #8e75af;
    --md-primary-fg-color--light: #cba6f7;
    --md-primary-fg-color--dark: #8e75af;
}